
@import 'variables.scss';
@import 'typography.scss';
@import 'nav.scss';
@import 'hero.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  place-items: center;
}


main, footer {
  max-width: $max-content-width;
  text-align: justify;
  padding: 0 $unit;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 2*$unit;
  border-top: $unit/8 solid $border-color;
  padding-top: $unit;
}
